<html>
<head>
<meta name="robots" content="noindex">
<meta name="ROBOTS" content="NOINDEX">
<meta name="robot" content="noindex">
<meta name="ROBOT" content="NOINDEX">
<meta name="robo" content="noindex">
<meta name="ROBO" content="NOINDEX">
<meta name="robots" content="noindex,nofollow">
<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
<meta name="robot" content="noindex,nofollow">
<meta name="ROBOT" content="NOINDEX,NOFOLLOW">
<meta name="robo" content="noindex,nofollow">
<meta name="ROBO" content="NOINDEX,NOFOLLOW">
<meta name="robots" content="none">
<meta name="ROBOTS" content="NONE">
<meta name="robot" content="none">
<meta name="ROBOT" content="NONE">
<meta name="robo" content="none">
<meta name="ROBO" content="NONE">
<meta name="libwww-perl" content="NOINDEX,NOFOLLOW">
<meta name="libwww-perl" content="noindex,nofollow">
<meta name="libwww-perl" content="NONE">
<meta name="libwww-perl" content="none">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="ja">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>美術館リンク集</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
  <h1>美術館リンク集</h1>
  <ul class="accordion">
    <li v-for="(categoryData, index) in groupedLinks" :key="index" class="accordion-item">
      <a class="accordion-title" @click="toggleAccordion(categoryData)">
        {{ categoryData.category }}
      </a>
      <ul v-if="categoryData.isOpen" class="accordion-content">
        <li v-for="(link, linkIndex) in categoryData.links" :key="linkIndex">
          <a :href="link.link" target="_blank">{{ link.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.9/dist/vuetify.min.css"> -->
<!-- Include Vue 3 from CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.9/dist/vuetify.min.js"></script> -->
<!-- <script type="module" src="script2.js"></script> -->
<script src="script.js"></script>

</body>
</html>